POSTGRES_USER=cardgame
POSTGRES_PASSWORD=cardgame_dev_password
POSTGRES_DB=cardgame

DATABASE_URL="postgresql://cardgame:cardgame_dev_password@db:5432/cardgame?schema=public"

AUTH_SECRET=""
AUTH_TRUST_HOST=true

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
